* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: #c5c0b2;
	overflow: hidden;
}

.container-items {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.item {
	position: relative;
	flex-grow: 1;
	font-family: "Mak";
	font-size: 220px;
	transition: all 300ms ease-in-out;
}

.item:hover {
	flex-grow: 2;
	font-size: 400px;
}

h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
}

img {
	width: 100%;
}

.container-img-wrap {
	position: absolute;
	top: -60rem;
	left: -80px;
	width: 400px;
	height: 500px;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
}

.container-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

@media (max-width: 900px) {
	.container-items {
		height: 100px;
	}
	.item {
		font-size: 20px;
	}
	.item:hover {
		flex-grow: 1;
		font-size: 20px;
	}
	.container-img-wrap {
		display: none;
	}
	.navbar {
		display: none !important;
	}
}

.site-logo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Mak";
	font-size: 24px;
	line-height: 100px;
	text-transform: uppercase;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 100px;
}

.site-menu {
	display: flex;
}

.menu-item {
	margin-left: 60px;
}

.header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 20%;
	padding: 40px;
	text-transform: uppercase;
	font-family: "Mak";
	font-size: 40px;
	z-index: 2;
}

.header-left span {
	font-family: Arial, Helvetica, sans-serif;
}

.link {
	margin: 40px 0;
}

.link a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
